<h1>User#charlesderek</h1>

<br>
<h3>A new email has been sent from Charles Derek</h3>
<h5>Position: <em>CIO/Owner</em></h5>
<p>
  <%= @greeting %>, find me in app/views/user_mailer/charlesderek.html.erb
</p>
