
        <div data-ix="hide-on-load" class="floating-nav">
            <div class="nav-container w-clearfix">
                <a href="#" class="navbar-logo w-inline-block w-clearfix"><img
                    src="https://httpsimage.com/v2/3364f11f-61bb-4567-bf7a-4361ac5ccc87.png"
                    width="57"
                    data-ix="floating-nav-logo-hover-flip"
                    class="navbar-logo floating"/></a>
                <div class="floatingnavfixedtext">Bringing Technology to Life</div>
            </div>
        </div>
        <div class="coversection">
            <div class="covercontainer w-container" data-ix="mrgi-usa-float">
                <h1
                    data-ix="cover-title-appear"
                    class="cover-title--get-in-touch w-hidden-tiny">Why our team?</h1>
                <h1
                    data-ix="cover-title-appear"
                    class="cover-title w-hidden-main w-hidden-medium w-hidden-small">Why Our Team?</h1>
                <h1 class="mrgi">MRGI USA</h1>
                <h3 class="connect-heading">
                    <em>Our Team Is Passionate About everything We Bring To The Table.</em>
                </h3>
                <a href="#form-arrow" class="button-cta-connectpage w-button">
                    <em>
                        <strong>Fill New Project Request</strong>
                    </em>
                </a>
                <div class="cover-subtitle w-hidden-tiny">We are an integrated design and
                    development development team. We&#x27;re focused on Unconventional Innovation in
                    software technology. Think our services wont matter?
                    <a
                        href="https://www.score.org/blog/how-much-can-technology-grow-your-business-you%E2%80%99d-be-surprised">See what our friends at BSG and Microsoft think</a>.</div>
                <div class="cover-subtitle-mobile w-hidden-main w-hidden-medium w-hidden-small">Think our services wont matter?
                    <a
                        href="https://www.score.org/blog/how-much-can-technology-grow-your-business-you%E2%80%99d-be-surprised">See what our friends at BSG and Microsoft think</a>.</div>
            </div>
        </div>
        <div id="Section-2" class="mainsection--about dark--about">
            <div class="sectionheader--about">
                <a
                    href="#Section-3"
                    data-ix="arrow-appear"
                    class="go-down-link paddingfixforarrow w-inline-block"><img
                    src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                    width="50"
                    data-ix="arrowhovereffect"/></a>
            </div>
        </div>
        <div id="Section-3" class="example bluebackground">
            <div class="example-body minheight perspective--bottom">
                <div data-ix="responsive-image-open" class="responsiveimageopen"><img
                    src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a396_xblock-04-mobile.png.pagespeed.ic.MgMyu72UCJ.png"
                    class="mobileimg"/><img
                    src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a397_xblock-04-pop-a.png.pagespeed.ic.puMUe5-2nw.png"
                    class="_3dimagelayer-1a"/><img
                    src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a398_xblock-04-desktop.png.pagespeed.ic.biPhfTfniS.png"
                    width="307"
                    class="desktopimg"/><img
                    src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a39a_xblock-04-pop-b.png.pagespeed.ic.8XtDQ9QcmM_1.png"
                    class="_3dimagelayer-2b"/><img
                    src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a399_xblock-04-pop-c.png.pagespeed.ic.aMGEKfPoYo_1.png"
                    class="_3dimagelayer-2c"/></div>
            </div>
        </div>
        <div id="Section-3" class="example bluebackground planssection">
            <div class="example-body minheight perspective--bottom adjustmobile3dheight">
                <div data-ix="example-header-appear" class="example-header--about w-container">
                    <a
                        href="#Section-5Plans"
                        data-ix="arrow-appear"
                        class="go-down-link w-hidden-small w-hidden-tiny w-inline-block"><img
                        src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                        width="50"
                        data-ix="arrowhovereffect"/></a>
                    <h5 class="example-subtitle--about connectmargintop">We start with your
                        customers then work backwards, to offer them the best User experience. by
                        creating Innovative applications, Our clients can SEAMLESSLY accomplish any of
                        their business profession needs.</h5>
                    <a
                        href="#Style-It"
                        data-ix="arrow-appear"
                        class="go-down-link-mobile w-hidden-main w-hidden-medium w-inline-block"><img
                        src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                        width="50"
                        data-ix="arrowhovereffect"/></a>
                    <h1 id="Style-It" class="example-title">Our Plans</h1>
                </div>
                <div class="pricing-row w-row">
                    <div
                        class="pricing-columns w-col w-col-4 w-col-small-small-stack w-col-tiny-tiny-stack">
                        <h2 class="pricingcolumnsh1">Style It</h2>
                        <a
                            href="#File-it"
                            data-ix="arrow-appear"
                            class="go-down-link-mobile w-hidden-main w-hidden-medium w-inline-block"><img
                            src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                            width="50"
                            data-ix="arrowhovereffect"/></a>
                        <ul>
                            <li class="ourplanslisteditems">design and build Static Application</li>
                            <li class="ourplanslisteditems">Discovery Session</li>
                            <li class="ourplanslisteditems">Definition Packet</li>
                            <li class="ourplanslisteditems">Wireframes</li>
                            <li class="ourplanslisteditems">24 Hours of Design Work</li>
                            <li class="ourplanslisteditems">Additional Design Work, $125.00 Per Hour</li>
                            <li class="ourplanslisteditems">Weekly updates (Skype)</li>
                            <li class="ourplanslisteditems">Delivery Packet - Style Guide + Screens</li>
                            <li class="ourplanslisteditems">$500 Initial deposit</li>
                        </ul>
                        <div class="recomendedfor">
                            <div id="File-it" class="text-block-5">Recommended for budget ranging between $1,000- $10,000</div>
                        </div>
                    </div>
                    <div
                        id="Section-5Plans"
                        class="pricing-columns w-col w-col-4 w-col-small-small-stack w-col-tiny-tiny-stack">
                        <a
                            href="#Ultimate"
                            data-ix="arrow-appear"
                            class="go-down-link-mobile w-hidden-main w-hidden-medium w-inline-block"><img
                            src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                            width="50"
                            data-ix="arrowhovereffect"/></a>
                        <h2 class="pricingcolumnsh1">File it</h2>
                        <ul>
                            <li class="ourplanslisteditems">Design And Build Dynamic Application</li>
                            <li class="ourplanslisteditems">Product GO-3D modeling</li>
                            <li class="ourplanslisteditems">Information Architecture</li>
                            <li class="ourplanslisteditems">Wireframes</li>
                            <li class="ourplanslisteditems">40+ Hours of Design Work</li>
                            <li class="ourplanslisteditems">Additional Design Work, $100.00 Per Hour</li>
                            <li class="ourplanslisteditemslonger ourplanssmallfix">Weekly Meeting (skype)+ Daily Updates + text/email updates</li>
                            <li class="ourplanslisteditemslonger ourplanssmallfix">Marketing Packet - Conversion based design Overview</li>
                            <li class="ourplanslisteditemslonger">Entailed Packet - Style Guide + Screens + Conversion Data</li>
                            <li class="ourplanslisteditems">1-3 Prototypes</li>
                            <li class="ourplanslisteditems">Integrated conversion &amp; sales metrics</li>
                            <li class="ourplanslisteditems">3 maximum project platforms</li>
                            <li class="ourplanslisteditems">15 percent Initial deposit</li>
                        </ul>
                        <div class="recomendedfor">
                            <div id="Ultimate" class="text-block-3">Recommended for budget ranging between $15,000- $100,000</div>
                        </div>
                    </div>
                    <div
                        class="pricing-columns w-col w-col-4 w-col-small-small-stack w-col-tiny-tiny-stack">
                        <a
                            href="#form-arrow"
                            data-ix="arrow-appear"
                            class="go-down-link-mobile w-hidden-main w-hidden-medium w-inline-block"><img
                            src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                            width="50"
                            data-ix="arrowhovereffect"/></a>
                        <h2 class="pricingcolumnsh1">The Ultimate</h2>
                        <ul>
                            <li class="ourplanslisteditemslonger">Design Static and Application Software Including sites</li>
                            <li class="ourplanslisteditems">Product GO-3D modeling</li>
                            <li class="ourplanslisteditems">Information Architecture</li>
                            <li class="ourplanslisteditems">Wireframes w/ UX Lead</li>
                            <li class="ourplanslisteditems">100+ Hours of Design Work</li>
                            <li class="ourplanslisteditems">Additional Design Work, $80.00 Per Hour</li>
                            <li class="ourplanslisteditemslonger ourplanssmallfix">Weekly Meeting (optional Medium) + Daily Updates + Text /email Updates</li>
                            <li class="ourplanslisteditemslonger">Marketing Packet - Conversion based design</li>
                            <li class="ourplanslisteditemslonger">
                                Marketing Packet Plus (SEO &amp; SEM) Guided Set Up</li>
                            <li class="ourplanslisteditems">Conversion Sales funnel Metrics</li>
                            <li class="ourplanslisteditems">continuous Prototypes</li>
                            <li class="ourplanslisteditems">Integrated conversion &amp; sales metrics</li>
                            <li class="ourplanslisteditems">Market research analysis packet</li>
                            <li class="ourplanslisteditems">financial bookkeeping database</li>
                            <li class="ourplanslisteditemslonger ourplanssmallfix">Artificial Intelligence support Messenger Packet</li>
                            <li class="ourplanslisteditems">Multiple project platforms</li>
                            <li class="ourplanslisteditems">10 percent Initial deposit</li>
                        </ul>
                        <div class="recomendedfor">
                            <div id="form-arrow" class="text-block-4">Recommended for budgets above $100,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Section-3" class="example bluebackground">
            <div id="FormBlockGetInTouch" class="form-block-2 w-form">
                <form
                    id="wf-form-Services-Inquiry-Form"
                    name="wf-form-Services-Inquiry-Form"
                    data-name="Services Inquiry Form"
                    class="form">
                    <h1 id="Form" class="formnewrequest">New Project Request:</h1>
                    <label for="Budget" class="field-label">Project Budget:</label>
                    <select
                        id="Budget"
                        name="Budget"
                        data-name="Budget"
                        required="true"
                        class="selecttor-estimated-budget w-select">
                        <option value="0">Please select estimated budget.</option>
                        <option value="1k - 10k">$1,000 - $10,000</option>
                        <option value="15k - 50k">$15,000 - $50,000</option>
                        <option value="50k - 100k">$50,000 - $100,000</option>
                        <option value="100k - 200k">$100,000 - $200,000</option>
                        <option value="200k+">$200,000 +</option>
                    </select>
                    <label for="Name" class="field-label-2">Name:</label><input
                        type="text"
                        class="name w-input"
                        maxlength="256"
                        name="Name"
                        data-name="Name"
                        placeholder="Please enter your full name"
                        id="Name"
                        required="true"/>
                    <label for="telNo" class="field-label-3">Mobile:</label><input
       
                        type="tel"
                        class="name w-input"
                        maxlength="11"
                        name="telNo"
                        data-name="Mobile"
                        placeholder="333-4444-4444"
                        id="telNo"
                        required=""/>
                    <label for="Email" class="field-label-3">Email Address:</label><input
                        type="email"
                        class="text-field-2 w-input"
                        maxlength="256"
                        name="Email"
                        data-name="Email"
                        placeholder="Enter your email"
                        id="Email"
                        required=""/>
                    <label for="Project-Type" class="field-label-4">Project Type(s) Involved:</label>
                    <div class="get-in-touch-form-checkbox w-row">
                        <div class="w-col w-col-6">
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="Dynamic-Web-Application"
                                name="Dynamic-Web-Application"
                                data-name="Dynamic Web Application"
                                class="w-checkbox-input"/>
                                <label for="Dynamic-Web-Application" class="field-label-5 w-form-label">Dynamic Web Application</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="Static-Web-Design"
                                name="Static-Web-Design"
                                data-name="Static Web Design"
                                class="w-checkbox-input"/>
                                <label for="Static-Web-Design" class="field-label-6 w-form-label">Static Web Design</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="IOS-Swift-Application"
                                name="IOS-Swift-Application"
                                data-name="IOS / Swift Application"
                                class="w-checkbox-input"/>
                                <label for="IOS-Swift-Application" class="field-label-7 w-form-label">IOS / Swift Application</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="Google-Play-Android-Application"
                                name="Google-Play-Android-Application"
                                data-name="Google Play / Android Application"
                                class="w-checkbox-input"/>
                                <label for="Google-Play-Android-Application" class="field-label-8 w-form-label">Google Play / Android Application</label>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="SharePoint"
                                name="SharePoint"
                                data-name="SharePoint"
                                class="w-checkbox-input"/>
                                <label for="SharePoint" class="w-form-label">SharePoint</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="Desktop Application"
                                name="Desktop-Application"
                                data-name="Desktop Application"
                                class="w-checkbox-input"/>
                                <label for="Desktop Application" class="w-form-label">PC Software (Apple/Windows)</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="UI-UX"
                                name="UI-UX"
                                data-name="UI / UX"
                                class="w-checkbox-input"/>
                                <label for="UI-UX" class="w-form-label">UI / UX</label>
                            </div>
                            <div class="getintouchcheckbox w-checkbox"><input
                                type="checkbox"
                                id="Drupal-Wordpress-CMS"
                                name="Drupal-Wordpress-CMS"
                                data-name="Drupal / Wordpress CMS"
                                class="w-checkbox-input"/>
                                <label for="Drupal-Wordpress-CMS" class="w-form-label">Drupal / Wordpress CMS</label>
                            </div>
                        </div>
                    </div>
                    <label for="Website" class="field-label-9">Website (if applicable to your inquiry):</label><input
                        type="text"
                        class="name w-input"
                        maxlength="256"
                        name="Domain"
                        data-name="Domain"
                        placeholder="Please enter your website (if applicable)"
                        id="Website"
                        required=""/>
                    <label for="Company" class="field-label-9">Company Involved in project name:</label><input
                        type="text"
                        class="text-field w-input"
                        maxlength="256"
                        name="Company"
                        data-name="Company"
                        placeholder="JohnDoe&#x27;s Inc"
                        id="Company"
                        required=""/>
                    <label for="Additional-Notes" class="field-label-10">Tell us about your project or idea:</label>
                    <textarea
                        id="Additional-Notes"
                        name="Additional-Notes"
                        maxlength="5000"
                        required=""
                        placeholder="Greetings, the project needs to meet specific mobile..."
                        data-name="Additional Notes"
                        class="text-field talkbox w-input"></textarea>
                    <div class="w-radio"><input
                        type="radio"
                        id="radio"
                        name="radio"
                        value="Radio"
                        data-name="Radio"
                        required="true"
                        class="w-radio-input"/>
                        <label for="radio" class="terms w-form-label">I understand and agree to the MRGI USA
                            <a href="/connect/terms" class="link">Terms &amp; Services</a>
                            and
                            <a href="/connect/privacy" class="link">Privacy Policy</a>
                        </label>
                    </div><input
                        type="submit"
                        value="Submit"
                        data-wait="processing your inquiry..."
                        class="submit-button formsubmit w-button"/>
                    <div class="div-block-4"></div>
                </form>
                <div class="success-message-2 w-form-done">
                    <div>
                        <strong>Your Inquiry has been received, thank you! We will follow up with a
                            response as soon as possible.</strong>
                    </div>
                </div>
                <div class="error-message w-form-fail">
                    <div>
                        <strong>Oops! Something went wrong while submitting the form.</strong>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            type="text/javascript"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script
            src="https://uploads-ssl.webflow.com/5a04b009b12683000102a365/js/mrgi.9c83540d6.js"
            type="text/javascript"></script>
        <!--[if lte IE 9]><script
        src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
        <script>
            (function ($, hljs, undefined) {
                'use strict'

                var $document = $(document)
                var $window = $(window)

                hljs.initHighlightingOnLoad()

                try {
                    if ('serviceWorker' in navigator) {
                        navigator
                            .serviceWorker
                            .register('/assets/js/service-worker.js')
                    }
                } catch (ex) {
                    console.error(ex)
                }

                $document.ready(function () {
                    var $postContent = $(".post-content")
                    var $btnNav = $('#btn-nav')
                    var $navEl = $('#main-nav')
                    var $floatingCta = $('.floating-cta')
                    var $interactiveCard = $('.card.interactive')
                    var $cardLink = $('.card a').first()
                    var cardLinkValue = $cardLink.attr('href')
                    var $ctaServices = $('#cta-services')
                    var $ctaSupport = $('#cta-support')
                    var $searchField = $('#search-field')

                    // setup search field
                    $searchField.ghostHunter({
                        includepages   : true,
                        onKeyUp        : true,
                        result_template: "<a href='\{\{link\}\}'><p><h1>\{\{title\}\}</h1><h4>\{\{pubDate\}\}</h4>\{\{de" +
                                "scription\}\}</p></a>",
                        results        : '#results'
                    })
                    $searchField.keyup(function (event) {
                        if (event.target.value === "") {
                            $searchField.clear();
                        }
                    })

                    if (cardLinkValue) {
                        $cardLink.attr(
                            'href',
                            cardLinkValue + '&utm_content=' + window.location.pathname
                        )
                    }

                    $interactiveCard.on('click', 'button', function (e) {
                        if ($(e.toElement).attr('data-answer') === 'correct') {
                            setTimeout(function () {
                                $interactiveCard
                                    .find('#answer-correct')
                                    .show()
                            }, 2100)
                        } else {
                            setTimeout(function () {
                                $interactiveCard
                                    .find('#answer-incorrect')
                                    .show()
                            }, 2100)
                        }
                        $interactiveCard
                            .find('button')
                            .hide()
                        $interactiveCard
                            .find('.spinner')
                            .show()

                        setTimeout(function () {
                            $interactiveCard
                                .find('.spinner')
                                .hide()
                        }, 2000)
                    })

                    $btnNav.on('click', function (e) {
                        if (!$navEl.is(':visible')) {
                            $navEl.show()
                        } else {
                            $navEl.hide()
                        }
                    })

                    /*
      * Adding the dropdown stuffz
      * */
                    $('.dropdown-toggle').on('mouseenter', function () {
                        $(this).addClass('active')
                    })

                    $('.dropdown-toggle').on('mouseleave', function () {
                        $(this).removeClass('active')
                    })
                })

                function progressBar() {
                    // grabbed from the www not my proudest commit IIFE so no side-effects happen
                    // TODO: refactor
                    var getMax = function () {
                        return $document.height() - $(window).height()
                    }

                    var getValue = function () {
                        return $window.scrollTop()
                    }

                    var getWidth = function () {
                        // Calculate width in percentage
                        value = getValue()
                        width = (value / max) * 100
                        width = width + '%'
                        return width
                    }

                    var setWidth = function () {
                        progressBar.css({width: getWidth()})
                    }

                    var progressBar = $('.progress-bar')
                    var max = getMax()
                    var value
                    var width

                    $document.on('scroll', setWidth)
                    $window.on('resize', function () {
                        // Need to reset the Max attr
                        max = getMax()
                        setWidth()
                    })
                }

                progressBar()

                window.addEventListener("load", function () {
                    window
                        .cookieconsent
                        .initialise({
                            "content" : {
                                "href": "https://blog.risingstack.com/privacy-policy/"
                            },
                            "location": true,
                            "palette" : {
                                "button": {
                                    "background": "#8ec760",
                                    "text"      : "#ffffff"
                                },
                                "popup" : {
                                    "background": "#dedede",
                                    "text"      : "#404040"
                                }
                            },
                            "theme"   : "edgeless"
                        })
                })

                window.twttr = (function (d, s, id) {
                    var js,
                        fjs = d.getElementsByTagName(s)[0],
                        t   = window.twttr || {}
                    if (d.getElementById(id)) 
                        return t
                    js     = d.createElement(s)
                    js.id  = id
                    js.src = "https://platform.twitter.com/widgets.js"
                    fjs
                        .parentNode
                        .insertBefore(js, fjs)

                    t._e    = []
                    t.ready = function (f) {
                        t
                            ._e
                            .push(f)
                    }

                    return t
                }(document, "script", "twitter-wjs"))

            })(jQuery, hljs)
        </script>
