        <div
            data-collapse="medium"
            data-animation="over-right"
            data-duration="1000"
            data-no-scroll="1"
            data-ix="navbar-appear"
            class="navbar w-nav">
            <div class="wide-container">
                <div data-ix="hamburgertoggle" class="menu-button w-nav-button">
                    <div class="navbardiv1"></div>
                    <div class="navbardiv2"></div>
                    <div class="navbardiv3"></div>
                </div>
            </div>
            <div class="container w-container">
                <a href="/" class="w-nav-brand"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37b_LocationTech_Logo%5B1%5D.png"
                    data-ix="icon-on-load"
                    class="image-2"/></a>
                <div class="navbar-subtitle">Bringing Technology to Life</div>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="/" class="nav-link toplinkhamburger w-nav-link">
                        <strong class="bold-text navbartextinhamhighlighted active-link-navbar">Home</strong>
                    </a>
                    <a href="http://mrgi-chat.webflow.io" class="nav-link w-nav-link">
                        <strong class="bold-text navbartextinhamhighlighted active-link-navbar chat">CHat</strong>
                    </a>
                    <a href="/gallery" class="nav-link w-nav-link">
                        <strong class="navbartextinham">Gallery</strong>
                    </a>
                    <a href="/connect" class="nav-link getquotelink w-nav-link">
                        <strong>Get In Touch</strong>
                    </a>
                </nav>
            </div>
        </div>
        <div data-ix="hide-on-load" class="floating-nav">
            <div class="nav-container w-clearfix">
                <a href="#" class="navbar-logo w-inline-block w-clearfix"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37b_LocationTech_Logo%5B1%5D.png"
                    width="57"
                    data-ix="floating-nav-logo-hover-flip"
                    class="navbar-logo floating"/></a>
                <div class="floatingnavfixedtext">Bringing Technology to Life</div>
            </div>
        </div>
        <div id="Section-3" class="example-gallerypage bluebackground-gallerypage">
            <div
                class="example-body-gallery minheight-gallery perspective--bottom--gallery">
                <div data-ix="responsive-image-open" class="responsiveimageopen-gallery"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a396_xblock-04-mobile.png.pagespeed.ic.MgMyu72UCJ.png"
                    class="mobileimg"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a397_xblock-04-pop-a.png.pagespeed.ic.puMUe5-2nw.png"
                    class="_3dimagelayer-1a"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a398_xblock-04-desktop.png.pagespeed.ic.biPhfTfniS.png"
                    width="307"
                    class="desktopimg"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a39a_xblock-04-pop-b.png.pagespeed.ic.8XtDQ9QcmM_1.png"
                    class="_3dimagelayer-2b"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a399_xblock-04-pop-c.png.pagespeed.ic.aMGEKfPoYo_1.png"
                    class="_3dimagelayer-2c"/></div>
            </div>
        </div>
        <div class="coversection-gallery">
            <div class="covercontainer-gallery w-container">
                <div data-ix="cover-subtitle-appear" class="cover-subtitle">Below is our site wide Privacy policy.</div>
                <div data-ix="cover-cta-appear" class="cover-cta">
                    <a href="/connect" class="button-cta w-button">Back to Plans</a>
                    <a href="#Section-2" data-ix="arrow-appear" class="go-down-link w-inline-block"><img
                        src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37c_592ff5b9723a917fb93de6ca_arrow-down%5B1%5D.svg"
                        width="50"
                        data-ix="arrowhovereffect"/></a>
                </div>
            </div>
        </div>
        <div id="Section-2" class="mainsection-gallery dark-gallery w-clearfix">
            <div class="termsandconditionstext">Privacy Policy<br/>
                <br/>
                Revised November 14, 2017<br/>
                <br/>
                The following is MRGI USA, (“MRGI USA”) online privacy policy, which governs how
                visitor to the MRGI USA website www.mobomo.com is gathered and used on MRGI
                USA’s Internet sites.<br/>
                <br/>
                Your Information that MRGI USA May Collect Online<br/>
                <br/>
                You can affirmatively submit to MRGI USA certain user information pertaining to
                your interaction with MRGI USA. When you register with the Site, you may be
                required to submit your name, address, e-mail address, phone number or other
                information. You can also provide location information (so that you can search
                near you or in an area you specify), or billing or donation information. We also
                may infer your geographic location based on your IP address or other
                information. This policy applies to any and all information submitted by you
                through use of the Site.<br/>
                <br/>
                MRGI USA’s websites are not designed with the purpose of attracting any person
                under age 13. MRGI USA does not knowingly collect or maintain any personal
                information from children under the age of 13.<br/>
                <br/>
                How MRGI USA Uses Your Information<br/>
                <br/>
                We will use information you affirmatively submit to MRGI USA for the purpose for
                which it is submitted. We may also use such information to provide operational
                notices, in program record-keeping and to conduct research on industry
                marketplace practices. We may publish aggregate data, but the aggregate data
                will not include any unique information you provided to us.
                <br/>
                <br/>
                We may use third party contractors to act on our behalf, and these contractors
                are obligated to not disclose or use your information for other purposes.<br/>
                <br/>
                At certain points where your information is collected on our site, there may be
                a box where you may indicate you would like to be on a mailing list to receive
                information about MRGI USA or its affiliated organizations. This election box
                only appears in places where the service collecting your information maintains
                such lists. You can remove your name from a MRGI USA mailing list by utilizing
                the appropriate unsubscribe feature contained in the emails.<br/>
                <br/>
                Cookies and Other Persistent Identifiers<br/>
                <br/>
                MRGI USA or third parties we contract with may use persistent identifiers such
                as cookies, embedded scripts, tracking pixels, beacons, tags and similar
                technologies for a number of purposes, such as to provide easier site navi<br/>
                International Transfers<br/>
                <br/>
                If you are visiting our site from outside the United States, be aware that your
                information will be transferred to, and maintained on, computers located within
                the United States. The collection, use, retention and any other processing of
                your information will be governed by United States law.<br/>
                <br/>
                Updates<br/>
                gation, access to forms, analytics and advertising. Also, cookies may also be
                used to track how you use the site to target ads to you on other websites. You
                can still use MRGI USA’s websites if you have set your browser to reject
                cookies, but it may prevent you from viewing or accessing some of the features
                of our sites.<br/>
                <br/>
                Uses of Persistent Identifiers for Analysis and Advertising<br/>
                <br/>
                MRGI USA or third parties may use identifiers to generate certain kinds of site
                usage data, such as the number of hits and visits to our sites. This information
                is used to understand how visitors use our sites and provide better services to
                you. MRGI USA or third parties may also use identifiers to personalize the
                display of sponsorships or advertisements and customize the content you see
                while using our sites and sometimes while visiting other websites.<br/>
                <br/>
                MRGI USA may transfer, or allow third parties to collect, analytic information
                about your visit to MRGI USA websites to help us improve our websites and better
                serve you when you visit us online in the future. Analytic information may
                include such identifiers as your browser type, IP address, referring site URL,
                web pages you view and links you click on while navigating within our sites.<br/>
                <br/>
                If MRGI USA changes this policy in the future, we will post the changes here and
                indicate the date of the changes at the top of the policy.<br/>
                <br/>
                Additional Disclosure to California Residents<br/>
                <br/>
                At this time we do not respond to “do not track” signals issued by web browsers.</div>
            <a href="/connect" class="button-ctappolicybottom w-button">Back to Plans</a>
        </div>