        <div
            data-collapse="medium"
            data-animation="over-right"
            data-duration="1000"
            data-no-scroll="1"
            data-ix="navbar-appear"
            class="navbar w-nav">
            <div class="wide-container">
                <div data-ix="hamburgertoggle" class="menu-button w-nav-button">
                    <div class="navbardiv1"></div>
                    <div class="navbardiv2"></div>
                    <div class="navbardiv3"></div>
                </div>
            </div>
            <div class="container w-container">
                <a href="/" class="w-nav-brand"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37b_LocationTech_Logo%5B1%5D.png"
                    data-ix="icon-on-load"
                    class="image-2"/></a>
                <div class="navbar-subtitle">Bringing Technology to Life</div>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="/" class="nav-link toplinkhamburger w-nav-link">
                        <strong class="bold-text navbartextinhamhighlighted active-link-navbar">Home</strong>
                    </a>
                    <a href="http://mrgi-chat.webflow.io" class="nav-link w-nav-link">
                        <strong class="bold-text navbartextinhamhighlighted active-link-navbar chat">CHat</strong>
                    </a>
                    <a href="/gallery" class="nav-link w-nav-link">
                        <strong class="navbartextinham">Gallery</strong>
                    </a>
                    <a href="/connect" class="nav-link getquotelink w-nav-link">
                        <strong>Get In Touch</strong>
                    </a>
                </nav>
            </div>
        </div>
        <div data-ix="hide-on-load" class="floating-nav">
            <div class="nav-container w-clearfix">
                <a href="#" class="navbar-logo w-inline-block w-clearfix"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37b_LocationTech_Logo%5B1%5D.png"
                    width="57"
                    data-ix="floating-nav-logo-hover-flip"
                    class="navbar-logo floating"/></a>
                <div class="floatingnavfixedtext">Bringing Technology to Life</div>
            </div>
        </div>
        <div id="Section-4-main" class="example-terms greybackgroundfade">
            <div class="example-body layer-perspective">
                <div class="termsdiv"></div>
                <h1 class="terms-h1">Below Is Our Terms Of Service.</h1>
                <div data-ix="cover-cta-appear" class="cover-cta">
                    <a href="/connect" class="button-cta w-button">Back to Plans</a>
                    <a href="#Section-2" data-ix="arrow-appear" class="go-down-link w-inline-block"></a>
                </div>
                <div data-ix="layer-animation" class="layered-container"><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a390_566fb9dc1b4525b47c0c254d_3d_layer%25203%5B1%5D.svg"
                    class="layer-1"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a391_566fb9dc1b4525b47c0c254c_3d_layer%25202%5B1%5D.svg"
                    class="layer-2"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a377_566fb9dc1b4525b47c0c2550_3d-04%5B1%5D.svg"
                    class="layer-3"/><img
                    src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a379_566fb9dc1b4525b47c0c254f_3d-05%5B1%5D.svg"
                    class="layer-4"/></div>
            </div>
        </div>
        <div id="Section-2" class="termssection dark-gallery-terms w-clearfix">
            <div class="termsandconditionstext">By using the MRGInnovations.com web site
                (&quot;Service&quot;), all services of MRGI Inc. (&quot;MRGI Software&quot;),
                you are agreeing to be bound by the following terms and conditions (&quot;Terms
                of Service&quot;).<br/>
                <br/>
                MRGI Software reserves the right to update and change the Terms of Service from
                time to time without notice. Any new features that augment or enhance the
                current Service, including the release of new tools and resources, are subject
                to the Terms of Service. Continued use of the Service after any such changes
                shall constitute your consent to such changes. You can review the most current
                version of the Terms of Service at any time at:
                https://www.mrginnovations.com/connect/terms/.<br/>
                <br/>
                Violation of any of the terms below will result in the termination of your
                Account. While MRGI Software prohibits such conduct and Content on the Service,
                you understand and agree that MRGI Software cannot be responsible for the
                Content posted on the Service and you nonetheless may be exposed to such
                materials. You agree to use the Service at your own risk.<br/>
                <br/>
                Account Terms<br/>
                You must be 13 years or older to use this Service.<br/>
                <br/>
                You must be a human. Accounts registered by &quot;bots&quot; or other automated
                methods are not permitted.<br/>
                <br/>
                You must provide your legal full name, a valid email address, and any other
                information requested in order to complete the signup process.<br/>
                <br/>
                You are responsible for maintaining the security of your account and password.
                MRGI Software cannot and will not be liable for any loss or damage from your
                failure to comply with this security obligation.<br/>
                <br/>
                You are responsible for all Content posted and activity that occurs under your
                account (even when Content is posted by others who have access to your account).<br/>
                <br/>
                You may not use the Service for any illegal or unauthorized purpose. You must
                not, in the use of the Service, violate any laws in your jurisdiction (including
                but not limited to copyright laws).<br/>
                <br/>
                You must provide a privacy policy on your mobile application to inform your end
                users and visitors of the privacy practices of your mobile application. You may
                supply your own; provided, however, if you do not, MRGI Software reserves the
                right to supply one for your or terminate your account and its services to you,
                in its sole discretion.<br/>
                <br/>
                Privacy and Data Protection<br/>
                You acknowledge that, in your capacity as operator of the mobile application we
                provide to you based on the Service, you are solely responsible for complying
                with any applicable privacy, data protection, or similar law governing the
                collection, use, sharing, or other processing or handling of personally
                identifiable information, personal data, or similar information in any
                jurisdiction worldwide (“Privacy Law”). This includes, where necessary under the
                applicable Privacy Law, and without limitation, your obligation to make
                available a privacy policy to the end users of the mobile application.<br/>
                <br/>
                IN THE EVENT THAT BIZNESS APPS, SUBJECT TO ITS OWN DISCRETION, MAKES AVAILABLE
                TO YOU A PRIVACY POLICY OR SIMILAR DOCUMENT TOGETHER OR IN CONNECTION WITH A
                MOBILE APPLICATION (“COMPLEMENTARY POLICY”), SUCH COMPLEMENTARY POLICY IS
                PROVIDED TO YOU “AS IS” AND NEITHER BIZNESS APPS NOR ITS OFFICERS, DIRECTORS,
                EMPLOYEES, AGENTS, OR CONTRACTORS MAKE A REPRESENTATION OR WARRANTY AS TO ITS
                COMPLETENESS OR ACCURACY OR ITS COMPLIANCE WITH THE APPLICABLE PRIVACY LAW.
                BIZNESS APPS HEREBY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED,
                STATUTORY OR OTHER (INCLUDING ALL WARRANTIES ARISING FROM COURSE OF DEALING,
                USAGE OR TRADE PRACTICE) REGARDING THE COMPLIMENTARY POLICY, AND SPECIFICALLY
                DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
                PURPOSE REGARDING THE COMPLIMENTARY POLICY.<br/>
                <br/>
                You may use the Complimentary Policy for the purposes of making available a
                privacy policy to the end users of the mobile application we provide to you
                based on the Service, provided you review the Complimentary Policy before making
                it available to the end users and apply any necessary changes or amendments in
                order to ensure its accuracy, completeness, and compliance with the applicable
                Privacy Law. MRGI Software reserves the right to suspend its services to you or
                terminate your account or this Agreement for cause in the event that you use the
                Complimentary Policy in breach of this Agreement or violate the applicable
                Privacy Law when collecting, using, sharing, or otherwise processing or handling
                personally identifiable information, personal data, or similar information in
                connection with the mobile application we provide to you based on the Service.<br/>
                <br/>
                You shall indemnify, defend, and hold harmless MRGI Software and its directors,
                officers, employees, agents, and contractors from and against all liabilities,
                losses, damages, costs and expenses (including reasonable attorneys&#x27; fees)
                arising out of or in connection with any claim or allegation by a third party
                (including, without limitation, end users and government authorities) that the
                Complimentary Policy, any revised version thereof, or the collection, use,
                sharing, or other processing or handling of personally identifiable information,
                personal data, or similar information you carry out in connection with the
                mobile application we provide to you based on the Service violates or infringes
                the applicable Privacy Law.<br/>
                <br/>
                Payments and Refund Terms<br/>
                A valid credit card is required.<br/>
                <br/>
                There will be no refunds or credits for setup fees, partial months of service,
                upgrade/downgrade refunds, or refunds for months unused with an open account. In
                order to treat everyone equally, no exceptions will be made.<br/>
                <br/>
                All fees are exclusive of all taxes, levies, or duties imposed by taxing
                authorities, and you shall be responsible for payment of all such taxes, levies,
                or duties, excluding only United States (federal or state) taxes.<br/>
                <br/>
                MRGI Software will use commercially reasonable efforts to have the application
                approved by the appropriate mobile platform provider. Although there is a high
                likelihood of approval, we do not and cannot guarantee acceptance. If your
                application is denied by the appropriate mobile platform provider you may cancel
                your account, however there are no refunds under any circumstances.<br/>
                <br/>
                Cancellation and Termination<br/>
                Term. This Agreement will be in effect from the time that the Service(s) are
                activated until (1) it is terminated as provided for by this Agreement or by any
                addendum to this Agreement or (2) it is replaced by a revised Agreement.<br/>
                <br/>
                Cancellation. You must cancel your subscription before your monthly renewal date
                and prior to debiting of funds to MRGI Software in order to avoid the next
                billing (each Monthly Period). We will bill the monthly subscription fee plus
                any applicable taxes to the Payment Method you provide to us during registration
                (or to a different Payment Method if you change your account information). WE DO
                NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL-MONTH SERVICE PERIODS. MRGI
                Software shall not refund to You any fees paid in advance of such cancellation
                and You shall be obligated to pay all fees and charges accrued prior to the
                effectiveness of such cancellation; further, You shall be obligated to pay 100%
                of all charges for all Services remaining in the Term<br/>
                <br/>
                Cancellation. To cancel, go to the &quot;Dashboard&quot; on our website and
                follow the instructions for cancellation. All cancellations must be made in
                writing, via email, to support@mrgi.co. Sending an email to any other MRGI
                Software email address shall not constitute as a proper notification of
                cancellation.<br/>
                <br/>
                Your Obligations Upon Cancellation. Once an email is sent to support@mrgi.co
                regarding cancelling your services, a MRGI Software representative will reach
                out to you for a close out interview within 48 hours. This exit interview is
                mandatory to cancelling your services and MRGI Software will continue to bill
                your account if your exit interview does not occur within two (2) weeks.<br/>
                <br/>
                MRGI Software reserves the right to refuse service to anyone for any reason at
                any time.<br/>
                <br/>
                100% Satisfaction Guarantee Terms<br/>
                If for whatever reason you are unsatisfied with your mobile application within
                the first month of service, MRGI Software guarantees to refund the first month
                of service with no questions asked. MRGI Software is backed by a 100%
                satisfaction guarantee.<br/>
                <br/>
                This guarantee does not apply to months after a full month of service has passed
                and only applies to the initial month of service with MRGI Software.<br/>
                <br/>
                Modifications to the Service and Prices<br/>
                MRGI Software reserves the right at any time and from time to time to modify or
                discontinue, temporarily or permanently, the Service (or any part thereof) with
                or without notice.<br/>
                <br/>
                MRGI Software shall not be liable to you or to any third party for any
                modification, price change, suspension or discontinuance of the Service.<br/>
                <br/>
                From time to time, MRGI Software may issue an update to the MRGI Software
                application which may add, modify, and/or remove features from the application.
                These updates may be pushed out automatically with little or no notice, although
                MRGI Software will do everything in its power to notify you in advance of an
                upcoming update, including details on what the update includes.<br/>
                <br/>
                Copyright and Content Ownership<br/>
                We claim no intellectual property rights over the material you provide to the
                Service. Your profile and materials uploaded remain yours. However, by using the
                MRGI Software application to create your mobile application, you agree to allow
                others to view and share your Content.<br/>
                <br/>
                MRGI Software does not pre-screen Content, but MRGI Software and its designee
                have the right (but not the obligation) in their sole discretion to refuse or
                remove any Content that is available via the Service.<br/>
                <br/>
                The look and feel of the Service is copyright 2018 MRGI Inc. All rights
                reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS or
                visual design elements without express written permission from MRGI Software.<br/>
                <br/>
                MRGI Software may make certain software available to you through the Service. If
                you download or otherwise use the software from the Service, the software,
                including all files and images contained in or generated by the software, look
                and feel, HTML/CSS, visual design elements, and accompanying data (collectively,
                “Software”) are deemed to be licensed to you by MRGI Software, for your personal
                and noncommercial use only. MRGI Software does not transfer either the title or
                the intellectual property rights to the Software, and MRGI Software retains full
                and complete title to the Software as well as all intellectual property rights
                therein. You may not sell, redistribute, or reproduce the Software, nor may you
                decompile, reverse-engineer, disassemble, or otherwise convert the Software to a
                human-perceivable form.<br/>
                <br/>
                You grant MRGI Software a license to use the materials you post to the Services.
                By posting, downloading, displaying, performing, transmitting, or otherwise
                distributing user content to the Service, you are granting MRGI Software, its
                affiliates, officers, directors, employees, consultants, agents, and
                representatives a license to use user content in connection with the operation
                of MRGI Software, its affiliates, officers, directors, employees, consultants,
                agents, and representatives, including without limitation, a right to copy,
                distribute, transmit, publicly display, publicly perform, reproduce, edit,
                translate, and reformat user content. You will not be compensated for any user
                content. By posting user content on the Service, you warrant and represent that
                you own the rights to the user content or are otherwise authorized to post,
                distribute, display, perform, transmit, or otherwise distribute user content.<br/>
                <br/>
                When accessing or using the Services, you agree to obey the law and to respect
                the intellectual property rights of others. Your use of the Services is at all
                times governed by and subject to laws regarding copyright, trademark, patent,
                and trade secret ownership and use of intellectual property. You agree not to
                upload, download, display, perform, transmit, or otherwise distribute any
                information or content in violation of any party’s copyrights, trademarks,
                patents, trade secrets, or other intellectual property or proprietary rights.
                You agree to abide by laws regarding copyright, trademark, patent, and trade
                secret ownership and use of intellectual property, and you shall be solely
                responsible for any violations of any laws and for any infringements of any
                intellectual property rights caused by any content you provide, post, or
                transmit, or that is provided or transmitted using your user name or user ID.
                The burden of proving that any Content does not violate any laws or intellectual
                property rights rests solely with you.<br/>
                <br/>
                All MRGI Software content included on its site, its Software, and through the
                Service is the property of MRGI Software and is protected by U.S. and
                international intellectual property laws. All MRGI Software content, Software,
                code, HTML/CSS, and visual design data is is copyright 2018 MRGI Inc.<br/>
                <br/>
                General Conditions<br/>
                Your use of the Service is at your sole risk. The service is provided on an
                &quot;as is&quot; and &quot;as available&quot; basis.<br/>
                <br/>
                Technical support is only available via email and phone. The technical support
                email address is support@mrgi.co. Our live phone support hours are available 6am
                - 6pm PST, Monday through Friday, which can be reached by dialing
                1-305-209-7549. Email support is available 24/7.<br/>
                <br/>
                You authorize the Company to use, reuse, and to grant others the right to use
                and reuse, your Content, and any reproduction or simulation thereof, in any form
                of media or technology now known or hereafter developed, both during and after
                your use of the Services, for any purposes related to the Service.<br/>
                <br/>
                You understand that MRGI Software uses third party vendors and hosting partners
                to provide the necessary hardware, software, networking, storage, and related
                technology required to run the Service.<br/>
                <br/>
                You must not modify, adapt or hack the Service or modify another website so as
                to falsely imply that it is associated with the Service, or any other MRGI
                Software service.<br/>
                <br/>
                You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion
                of the Service, use of the Service, or access to the Service without the express
                written permission by MRGI Software.<br/>
                <br/>
                We may, but have no obligation to, remove Content and Accounts containing
                Content that we determine in our sole discretion are unlawful, offensive,
                threatening, libelous, defamatory, pornographic, obscene or otherwise
                objectionable or violates any party’s intellectual property or these Terms of
                Service.<br/>
                <br/>
                Verbal, physical, written or other abuse (including threats of abuse or
                retribution) of any MRGI Software customer, employee, member, or officer will
                result in immediate account termination.<br/>
                <br/>
                You understand that the technical processing and transmission of the Service,
                including your Content, may be transferred unencrypted and involve (a)
                transmissions over various networks; and (b) changes to conform and adapt to
                technical requirements of connecting networks or devices.<br/>
                <br/>
                You must not upload, post, host, or transmit unsolicited email, SMSs, or
                &quot;spam&quot; messages.<br/>
                <br/>
                You must not transmit any worms or viruses or any code of a destructive nature.<br/>
                <br/>
                MRGI Software does not warrant that (i) the service will meet your specific
                requirements, (ii) the service will be uninterrupted, timely, secure, or
                error-free, (iii) the results that may be obtained from the use of the service
                will be accurate or reliable, (iv) the quality of any products, services,
                information, or other material purchased or obtained by you through the service
                will meet your expectations, and (v) any errors in the Service will be
                corrected.<br/>
                <br/>
                You expressly understand and agree that MRGI Software shall not be liable for
                any direct, indirect, incidental, special, consequential or exemplary damages,
                including but not limited to, damages for loss of profits, goodwill, use, data
                or other intangible losses (even if MRGI Software has been advised of the
                possibility of such damages), resulting from: (i) the use or the inability to
                use the service; (ii) the cost of procurement of substitute goods and services
                resulting from any goods, data, information or services purchased or obtained or
                messages received or transactions entered into through or from the service;
                (iii) unauthorized access to or alteration of your transmissions or data; (iv)
                statements or conduct of any third party on the service; (v) or any other matter
                relating to the service.<br/>
                <br/>
                The failure of MRGI Software to exercise or enforce any right or provision of
                the Terms of Service shall not constitute a waiver of such right or provision.
                The Terms of Service constitutes the entire agreement between you and MRGI
                Software and govern your use of the Service, superseding any prior agreements
                between you and MRGI Software (including, but not limited to, any prior versions
                of the Terms of Service).<br/>
                <br/>
                In no event shall MRGI Software liability to you exceed the amount actually paid
                to MRGI Software by you during the preceding 12 months.<br/>
                <br/>
                Any exclusions of liability contained herein are not applicable to residents of
                New Jersey. With respect to residents of New Jersey, MRGI Software shall not be
                liable for any damages resulting from the use of this Site or Services unless
                such damages are the result of our negligent or reckless acts or omissions.<br/>
                <br/>
                SOME STATES AND/OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF
                DIRECT, INDIRECT, INCIDENTAL, SPECIAL AND/OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
                EXCLUSION MAY NOT APPLY TO YOU.</div>
            <a href="/connect" class="button-ctappolicybottom w-button">Back to Plans</a>
        </div>