<!-- BELOW IS NAVBAR -->

    <body id="navb" class="body">
        <div
            id="headersection"
            data-collapse="medium"
            data-animation="over-right"
            data-duration="1000"
            data-no-scroll="1"
            data-ix="navbar-appear"
            class="navbar w-nav">
            <div class="wide-container">
                <div data-ix="hamburgertoggle" class="menu-button w-nav-button">
                    <div class="navbardiv1"></div>
                    <div class="navbardiv2"></div>
                    <div class="navbardiv3"></div>
                </div>
            </div>
            <div class="container w-container">
                <a href="/" class="w-nav-brand"><img
                    src="https://httpsimage.com/v2/3364f11f-61bb-4567-bf7a-4361ac5ccc87.png"
                    data-ix="icon-on-load"
                    class="image-2"/></a>
                <div class="navbar-subtitle">Bringing technology to life</div>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="/" class="nav-link toplinkhamburger w-nav-link w--current">
                        <strong class="bold-text navbartextinhamhighlighted active-link-navbar"><h4><em>Home</em></h4></strong>
                    </a>
                    <a href="/company" class="nav-link w-nav-link">
                        <strong class="navbartextinham"><h4><em>What we do</em></h4></strong>
                    </a>
                    <a href="/connect" class="nav-link getquotelink w-nav-link">
                        <strong class="navbartextinham"><h4><em>Get In Touch</em></h4></strong>
                    </a>
                </nav>
            </div>
        </div>
        <div data-ix="hide-on-load" class="floating-nav">
            <div class="nav-container w-clearfix">
                <a href="" class="navbar-logo w-inline-block w-clearfix"><img
                    src="https://httpsimage.com/v2/3364f11f-61bb-4567-bf7a-4361ac5ccc87.png"
                    width="57"
                    data-ix="floating-nav-logo-hover-flip"
                    class="navbar-logo floating"/></a>
                <div class="floatingnavfixedtext">Bringing Technology to Life</div>
            </div>
        </div>


<!-- ABOVE IS NAVBAR -->
