


  <div id="coverSection" class="coversection">
      <div class="covercontainer w-container">
          <h1 data-ix="cover-title-appear" class="cover-title w-hidden-tiny">custom<br/>software<br/>development</h1>
          <h1
              data-ix="cover-title-appear"
              class="cover-title w-hidden-main w-hidden-medium w-hidden-small">CUSTOM
              <br/>SOFTWARE DEVELOPMENT</h1>
          <h1 data-ix="mrgi-usa-float" class="mrgi">MRGI USA</h1>
          <div data-ix="cover-subtitle-appear" class="cover-subtitle">Leading Edge
              software &amp; mobile based Application Modeling, Design, &amp; Production for
              Innovative businesses</div>
          <div data-ix="cover-cta-appear">
            <a href="/connect/#form-arrow" class="button-cta-connectpage w-button">
              <em>
                  <strong>Fill New Project Request</strong>
              </em>
            </a>
          </div>
          <div data-ix="cover-cta-appear" class="cover-cta">
              <a href="/connect#Section-5Plans" class="button-cta w-button">Plans</a>
              <a href="#Section-2" class="button-cta secondary w-button">See How It Works</a>
              <a href="/" class="button-cta secondary w-button">Gallery</a>
              <a href="#Section-2" data-ix="arrow-appear" class="go-down-link w-inline-block">
                <img src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/e133cf7b183897f15b615d775ed504aab4cca55e/my-file.svg" width="50" data-ix="arrowhovereffect" />
                <img
                  src="/assets/locationtech.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
      </div>
  </div>
  <div id="Section-2" class="mainsection dark">
      <div class="sectionheader">
          <h2 class="sectiontitle">See what is possible with 3D interactive Applications</h2>
          <a
              href="#Section-3"
              data-ix="arrow-appear"
              class="go-down-link paddingfixforarrow w-inline-block"><img
              src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
              width="50"
              data-ix="arrowhovereffect"/></a>
          <div class="text-block-2">Our developers are required to know not only how to
              develop useful applications, but also to develop ease of use interface for
              users. This makes 3-D interactive abilities for your business possible, with
              innovative 3-d ease in digital transitions.</div>
          <div class="text-block-2">See below a few examples of what are possible for the image of your business.</div>
          <div class="row-2 w-row">
              <div class="w-col w-col-4">
                  <div class="transformexample">
                      <div data-ix="basic-move" class="transformcontainer">
                          <div class="transformgroup">
                              <div class="transformbox_1"></div>
                              <div class="transformbox_2"></div>
                              <div class="transformbox_3 inv"></div>
                          </div>
                      </div>
                      <h1 class="transformexample-title">Move in 3D</h1>
                      <div class="transformexample-subtitle">Layered elements between each other into a page.</div>
                  </div>
              </div>
              <div class="w-col w-col-4">
                  <div class="transformexample">
                      <div data-ix="basic-rotate" class="transformcontainer">
                          <div class="transformgroup">
                              <div class="transformbox_1 inv"></div>
                              <div class="transformbox_2 colorgn"></div>
                              <div class="transformbox_3 inv"></div>
                          </div>
                      </div>
                      <h1 class="transformexample-title">Twist in 3D</h1>
                      <div class="transformexample-subtitle">Create a rotating effect on your software content.</div>
                  </div>
              </div>
              <div class="w-col w-col-4">
                  <div class="transformexample">
                      <div data-ix="basic-perspective" class="transformcontainer">
                          <div class="transformgroup">
                              <div class="transformbox_1"></div>
                              <div class="transformbox_2 colorbl"></div>
                              <div class="transformbox_3 colorbl2"></div>
                          </div>
                      </div>
                      <h1 class="transformexample-title">Apply Perspective</h1>
                      <div class="transformexample-subtitle">Increase interactivity within your
                          application by making it&#x27;s content intensify.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="Section-3" class="example bluebackground">
      <div class="example-body minheight perspective--bottom">
          <div data-ix="example-header-appear" class="example-header w-container">
              <h5 class="example-subtitle">Responsive content</h5>
              <h2 class="example-title">Done right</h2>
              <div class="transformexample-subtitle">Make Content Easily view-able for all your customers.</div>
              <a
                  href="#Section-4-main"
                  data-ix="arrow-appear"
                  class="go-down-link w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
          <div class="showcase-container w-container">
              <div data-ix="example-showcase" class="showcase-wrapper">
                  <div class="showcase-desktopwrapper">
                      <div
                          data-ix="showcase-initial-appernce"
                          class="showcase-desktop w-hidden-small w-hidden-tiny"></div>
                  </div>
                  <div class="showcase-tabletwrapper">
                      <div data-ix="showcase-initial-appernce" class="showcase-tablet"></div>
                  </div>
                  <div class="showcase-mobilewrapper">
                      <div data-ix="showcase-initial-appernce" class="showcase-mobile"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="Section-4-main" class="example greenbackground">
      <div class="example-body layer-perspective">
          <div data-ix="example-header-appear" class="example-header w-container">
              <h5 class="example-subtitle">Make sense out of what your users are saying and
                  doing with Layered Data Analysis Solutions.</h5>
              <h2 class="example-title">3-D Layering data solutions</h2>
              <a href="#Section-5" data-ix="arrow-appear" class="go-down-link w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
          <div data-ix="layer-animation" class="layered-container"><img
              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/65243ae1dcd0a1bdaf9ed935c47fef874fa42258/3dlayer79238789379.svg"
              class="layer-1"/><img
              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/f393b9a5dc136281c6b122f1ed6c5674808aa065/whitebackground.svg"
              class="layer-2"/><img
              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/acd6e0fc1bbe4fc241a17b42679816e65ad2ef87/3dlayer792387893796757r57.svg"
              class="layer-3"/><img
              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/b08fdf1ceedadb2f09d45178a19b9bdd2ee60ffc/3dlayer792387893796757r57492yr27y9.svg"
              class="layer-4"/></div>
      </div>
  </div>
  <div id="Section-5" class="example purplebackground">
      <div class="example-body perspective">
          <div class="example-header w-container">
              <h5 class="example-subtitle">Keeping your users ENGAGED, with Customize INteractive abilities.</h5>
              <h2 class="example-title">Enhance User Experiences</h2>
              <a href="#Section-6" data-ix="arrow-appear" class="go-down-link w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
          <div class="cards w-row">
              <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
                  <div data-ix="example-card-flip" class="card">
                      <div data-ix="example-card-appear-1" class="cardflip">
                          <div class="cardflip-side front"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/4b3e85fb99f437594486152e292c85305da87b28/diamond.svg"
                              class="cardflip-image cardflipfront"/></div>
                          <div class="cardflip-side back"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/169f7352158ebffb90f1ff8aa020563af23105bd/orangetext.svg"
                              class="cardflip-image"/></div>
                      </div>
                  </div>
              </div>
              <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
                  <div data-ix="example-card-flip" class="card">
                      <div data-ix="example-card-appear-2" class="cardflip">
                          <div class="cardflip-side front"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/8f4ac6739d4e0e53401a6cb8a7427b32ad6cb662/orangecircle.svg"
                              class="cardflip-image cardflipfront"/></div>
                          <div class="cardflip-side back"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/169f7352158ebffb90f1ff8aa020563af23105bd/orangetext.svg"
                              class="cardflip-image"/></div>
                      </div>
                  </div>
              </div>
              <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
                  <div data-ix="example-card-flip" class="card">
                      <div data-ix="example-card-appear-3" class="cardflip">
                          <div class="cardflip-side front"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/1e98083e333d19d887a9f9559feac41c2cf70dca/triangle.svg"
                              class="cardflip-image cardflipfront"/></div>
                          <div class="cardflip-side back"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/169f7352158ebffb90f1ff8aa020563af23105bd/orangetext.svg"
                              class="cardflip-image"/></div>
                      </div>
                  </div>
              </div>
              <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
                  <div data-ix="example-card-flip" class="card">
                      <div data-ix="example-card-appear-4" class="cardflip">
                          <div class="cardflip-side front"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/60f06a3221e4dda24f266090c7a14b70a73b94d8/squareorange.svg"
                              class="cardflip-image cardflipfront"/></div>
                          <div class="cardflip-side back"><img
                              src="https://cdn.rawgit.com/CharlesDerek/a695cf20aba6abe6517032b831b8f25f/raw/169f7352158ebffb90f1ff8aa020563af23105bd/orangetext.svg"
                              class="cardflip-image"/></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="Section-6" class="example blue">
      <div class="example-body miniheight">
          <div
              data-ix="example-header-appear"
              class="example-header isometric-paddingheaderfix w-container">
              <h5 class="example-subtitle">Give better service &amp; Stand out to your users
                  with INNOVATIVE leading edge software technology</h5>
              <h2 class="example-title">Automate Timely Unnecessary tasks</h2>
              <a
                  href="#Section-7"
                  data-ix="arrow-appear"
                  class="go-down-link paddingfixforarrow w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
          <div data-ix="example-isometric" class="isometriccontainer">
              <div class="isometric-col-1">
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
              </div>
              <div class="isometric-col-2">
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
              </div>
              <div class="isometric-col-3">
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
              </div>
              <div class="isometric-col-4">
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
                  <div data-ix="isometrichover" class="isometric-item"></div>
              </div>
          </div>
      </div>
  </div>
  <div id="Section-7" class="example greenbackgrounddark">
      <div class="example-body perspective miniheightnumber2">
          <div data-ix="example-header-appear" class="example-header w-container">
              <h5 class="example-subtitle">Make your different applications work SEAMLESSLY
                  together for unity ACROSS your entire business</h5>
              <h2 class="example-title">Put your Content in Into perspective</h2>
              <a
                  href="#Section-8"
                  data-ix="arrow-appear"
                  class="go-down-link paddingfixforarrow section7fix w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"/></a>
          </div>
          <div data-ix="example-tilt" class="tiltcontainer w-container">
              <div class="tilt-desktop"></div>
              <div class="tilt-tablet"></div>
              <div class="tilt-mobile"></div>
          </div>
      </div>
  </div>
  <div id="Section-8" class="example fadedtealbackground">
      <div class="example-body perspective miniheightnumber2 w-clearfix">
          <div data-ix="example-header-appear" class="example-header w-container">
              <h5 class="example-subtitle">Create anything your heart can imagine with leading edge software and technology</h5>
              <h2 class="example-title">Think Outside the Box &amp; get connected</h2>
              <a
                  href="#headersection"
                  data-ix="arrow-appear"
                  class="go-down-link paddingfixforarrow w-inline-block"><img
                  src="https://httpsimage.com/v2/f61bce67-24f9-4956-a606-1b2f79c9689c.png"
                  width="50"
                  data-ix="arrowhovereffect"
                  class="bottomarrow"/></a>
          </div>
          <div class="cubewrapper">
              <div data-ix="example-cube" class="_3dcube">
                  <div class="_3dcube-back"></div>
                  <div class="_3dcube-top"></div>
                  <div class="_3dcube-right"></div>
                  <div class="_3dcube-left"></div>
                  <div class="_3dcube-bottom"></div>
                  <div class="_3dcube-front"></div>
              </div>
          </div>
          <a href="/connect/#form-arrow" class="button-cta quotecta w-button">Get A Quote</a>
      </div>
  </div>
        